.contact {
  display: flex;

  margin-left: auto;
  cursor: pointer;

  &__item {
    margin-right: 50px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 500;

    fill: var(--secondary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    margin-right: 10px;
  }

  &__link:hover,
  &__link:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}
