.footer {
  background-color: var(--hero-footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &-content {
    @include tablet {
      display: inline;
    }

    @include desktop {
      display: flex;
      align-items: baseline;
    }
  }
}

.logo-address {
  @media screen and(min-width:320px) {
    text-align: center;
    margin-right: auto;
    letter-spacing: 0.03em;
    margin-bottom: 60px;
  }

  @include tablet {
      margin-bottom: 0;
      margin-right: 0;
  }

  @include desktop {
    text-align: left;
    margin-right: 70px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.white {
  color: var(--primary-white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }

  .logo:hover &,
  .logo:focus & {
    color: var(--accent-color);
  }
}

.address-list a {
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:focus .white {
    color: var(--accent-color);
  }
}

.address {
  margin-top: 20px;
}

.address-list-item + .address-list-item {
  margin-top: 9px;
}

/* join */
.joinin {
  width: 206px;
  height: 80px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  text-align: center;

  @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;

    text-align: center;
    margin-bottom: 0;
  }

  @include desktop {
    margin-right: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.join-title {
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social-list-join {
  margin-top: 20px;
}

.social-logo-footer {
  width: 44px;
  height: 44px;

  @extend %flex-center;

  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.logo-address-joinin {
  @include tablet {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 60px;

  }
  @include desktop {
    margin: auto;
  }
}

/* signup */
.signup {
  margin-left: auto;
  text-align: center;

    @include desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}

.sign-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);

  @include tablet {
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.03em;
  }

  @include desktop {
    margin: 0;
  }
}

.sign-form {
  margin-top: 20px;

  @include desktop {
    display: flex;
  }
}

.sign-email {
  @media screen and (min-width: 320px) {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  @include mobile {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }

  @include desktop {
    width: 358px;
    margin-bottom: 0;
  }

  padding: 15px 16px 15px 16px;

  @include font(16px, 400, 1.25);

  color: rgba(255, 255, 255, 0.6);
  background-color: var(--hero-footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.sign-button {
  @extend %flex-center;

  margin-left: auto;
  margin-right: auto;

  @include desktop {
    margin-left: 12px;
  }

  width: 200px;
  height: 50px;
  border-radius: 4px;

  @include font(16px, 700, 1.88);

  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
