.hero {
  background-color: var(--hero-footer-bg-color);
  color: var(--primary-white-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--gradient-color),
      var(--gradient-color)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    width: 696px;

    @include font(44px, 900, 1.37);

    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &__btn {
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    display: inline-block;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;

    @include font(16px, 700, 1.88);

    letter-spacing: 0.06em;
    text-align: center;
  }
}
