.projects-list {
  display: flex;
  flex-wrap: wrap;

  & a {
    text-decoration: none;
  }
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.project-card {
  padding: 20px 24px;

  border-right: 1px solid var(--secondary-border-color);
  border-bottom: 1px solid var(--secondary-border-color);
  border-left: 1px solid var(--secondary-border-color);
}

.project-title {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.project-wrap {
  position: relative;
  overflow: hidden;
}

.project-detail {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);

  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .project-detail,
  &:focus .project-detail {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
