.team {
  text-align: center;
  background-color: var(--secondary-bg-color);

  @include font(16px, 500, 1.19);

  &__card {
    padding-top: 30px;
    padding-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-white-color);
  }

  &__title {
    margin-bottom: 10px;

    font-size: 16px;
  }

  &__text {
    margin-bottom: 16px;

    color: var(--secondary-text-color);
    font-weight: 400;
  }
}
