.whatwedo {
  padding-top: 0;

  &__wrap {
    position: relative;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    text-align: center;
    padding: 27px 0;

    @include font(14px, 700, 1.14);

    text-transform: uppercase;
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);
  }
}
