.section {
  padding-top: 60px;
  padding-bottom: 60px;
  
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    @include mobile {
      margin-bottom: 30px;
      text-align: center;
      @include font(28px, 700, 1.18);
      letter-spacing: 0.03em;
    }

    @include tablet {
      margin-bottom: 30px;
      text-align: center;
      @include font(28px, 700, 1.18);
      letter-spacing: 0.03em;
    }

    @include desktop {
      margin-bottom: 50px;
      text-align: center;
      @include font(36px, 700, 1.17);
      letter-spacing: 0.03em;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    text-align: center;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }

    @include desktop {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__item {
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      margin-bottom: 0;
      margin-right: 30px;
     }
  }

  &__item:last-child {
    margin-bottom: 0;
    margin-right: 0;
 }
}
