body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;

  @include font(14px, 500, 1.14);

  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
}
