:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --secondary-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;
  --primary-border-color: #ececec;
  --secondary-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --gradient-color: rgba(47, 48, 58, 0.4);
}
